@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Antic+Slab');
body {
	background: #f9f9f9;
	font: 14px/1.7 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #484545;
}
header {
	background: #f7f7f7;
	display: none;
	float: left;
	width: 100%;
	position: relative;
	z-index: 99;
	padding: 16px 20px 20px 20px;
	border-bottom: 1px solid #eaeaea;
}
header .leftheader {
	float: left;
	position: relative;
	width: auto;
	display: inline-block;
	padding: 10px 0;
}
header .leftheader img {
	margin-right: 10px;
}
header nav {
	float: right;
	padding: 20px 0 12px 0;
}
header nav ul {
	float: right;
}
header a.btn {
	margin-top: 10px;
	margin-left: 20px;
	float: right;
}
header fixed {
	position: fixed;
	z-index: 99;
}
header nav ul li {
	display: inline;
	margin: 0 0 0 20px;
	padding: 0;
}
header nav ul li a {
	padding: 20px 20px 18px 20px;
	text-decoration: none;
	color: #484545;
}
header nav ul li a:hover {
	color: #cb5211;
	text-decoration: none;
}
header, nav, .portfolio, .abouteesol, .getintouch {
	font-family: "Antic Slab", "cursive";
}
header, nav, ul, footer {
	background: #ffffff;
}
