element.style {
}
html {
    -webkit-text-size-adjust: none;
}
html {
    overflow-y: scroll;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
html[Attributes Style] {
    -webkit-locale: "en-US";
}
user agent stylesheet
html {
    display: block;
}
margin‒
‒border‒
‒padding‒
‒857 × 4018‒
‒‒
‒‒
‒

Filter

Show all
border-bottom-color:
rgb(0, 0, 0)
;
border-bottom-style:
none
;
border-bottom-width:
0px
;
border-image-outset:
0px
;
border-image-repeat:
stretch
;
border-image-slice:
100%
;
border-image-source:
none
;
border-image-width:
1
;
border-left-color:
rgb(0, 0, 0)
;
border-left-style:
none
;
border-left-width:
0px
;
border-right-color:
rgb(0, 0, 0)
;
initialhtml, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
border-right-style:
none
;
border-right-width:
0px
;
border-top-color:
rgb(0, 0, 0)
;
border-top-style:
none
;
border-top-width:
0px
;
display:
block
;
font-family:
Times
;
font-size:
16px
;
font-stretch:
normal
;
font-style:
normal
;
font-variant-caps:
normal
;
font-variant-ligatures:
normal
;
font-variant-numeric:
normal
;
font-weight:
normal
;
height:
4018px
;
line-height:
normal
;
margin-bottom:
0px
;
margin-left:
0px
;
margin-right:
0px
;
margin-top:
0px
;
overflow-y:
scroll
;
padding-bottom:
0px
;
padding-left:
0px
;
padding-right:
0px
;
padding-top:
0px
;
text-size-adjust:
100%
;
vertical-align:
baseline
;
width:
857px
;
-webkit-locale:
"en-US"
;
}
user agent stylesheet
html {
    display: block;
}
